@import "reset";

/* Start variables and mixins */
$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);
@mixin font_light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
@mixin font_med {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
@mixin font_bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
/* End variables and mixins */

html {
  font-size: 32px;
}

body {
  align-items: center;
  background: url("../images/pattern-curve.svg") no-repeat (0 100%),
    url("../images/pattern-bg.svg") no-repeat (90% 50%),
    url("../images/pattern-quotes.svg") no-repeat (20% 30%);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.testimonial-wrapper {
  height: 275px;
  left: 75px;
  line-height: 1.4rem;
  overflow: hidden;
  position: relative;
  width: 45%;
  z-index: 100;
  .testimonial-slide {
    position: relative;
    top: 0;
    transition: all 0.4s ease-in-out;
    &.testimonial-swap {
      top: -283px;
    }
    .testimonial-1,
    .testimonial-2 {
      height: 100%;
      width: 100%;
      .quote {
        @include font_light;
        color: $darkBlue;
      }
      .name,
      .role {
        display: inline-block;
        font-size: 0.65rem;
      }
      .name {
        @include font_bold;
        color: $darkBlue;
        margin-top: 15px;
      }
      .role {
        @include font_med;
        color: $grayishBlue;
      }
    }
  }
}

.image-wrapper {
  -webkit-box-shadow: 0px 10px 35px -10px rgba(32, 32, 70, 0.6);
  -moz-box-shadow: 0px 10px 35px -10px rgba(32, 32, 70, 0.6);
  box-shadow: 0px 10px 35px -10px rgba(32, 32, 70, 0.6);
  max-width: 500px;
  position: relative;
}
.image-frame {
  height: 540px;
  overflow: hidden;
  width: 540px;
  .image-1,
  .image-2 {
    height: 100%;
    width: 100%;
  }
  .image-slide {
    display: flex;
    height: 100%;
    position: relative;
    left: 0;
    width: 1080px;
    transition: all 0.4s ease-in-out;
    &.image-swap {
      left: -540px;
    }
  }
}
.image-controls {
  align-items: center;
  background: white;
  border-radius: 40px;
  bottom: -28px;
  -webkit-box-shadow: 0px 10px 35px -10px rgba(32, 32, 70, 0.6);
  -moz-box-shadow: 0px 10px 35px -10px rgba(32, 32, 70, 0.6);
  box-shadow: 0px 10px 35px -10px rgba(32, 32, 70, 0.6);
  display: flex;
  height: 56px;
  justify-content: space-around;
  left: 60px;
  position: absolute;
  width: 112px;
  & div {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  body {
    background: url("../images/pattern-bg.svg") no-repeat (0 27%),
      url("../images/pattern-quotes.svg") no-repeat (50% 70%),
      url("../images/pattern-curve.svg") no-repeat (0 100%);
    background-size: contain, 20%, contain;
    flex-direction: column;
  }

  .testimonial-wrapper {
    order: 2;
    width: 90%;
    left: 0;
    font-size: 0.5rem;
    line-height: 0.9rem;
    margin-top: 140px;
    height: 210px;
    .testimonial-slide {
      &.testimonial-swap {
        top: -210px;
      }
      .testimonial-1,
      .testimonial-2 {
        .name,
        .role {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 0.45rem;
        }
        .role {
          margin-top: -10px;
        }
      }
    }
  }

  .image-wrapper {
    order: 1;
    width: 300px;
    margin-top: 100px;
    .image-frame {
      margin: 0 auto;
      width: 300px;
      height: 300px;
      .image-1 img,
      .image-2 img {
        width: 300px;
        height: 100%;
      }
      .image-slide {
        width: 600px;
        &.image-swap {
          left: -300px;
        }
      }
    }
    .image-controls {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
